<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment1</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <form action="POST">
      <h2>Leave a message to Suha!</h2>
      <label for="firstname">First name</label><br />
      <input type="text" id="firstname" name="firstname" /><br /><br />
      <label for="lastname">Last name</label><br />
      <input type="text" id="lastname" name="lastname" /><br /><br />
      <label for="contactnumber">Contact Number</label><br />
      <input type="number" id="contactnumber"" name="contactnumber"" /><br /><br />
      <label for="email">Email address</label><br />
      <input type="email" id="email"" name="email"" /><br /><br />
      <label for="message">Message</label><br />
      <textarea id="message" name="message" rows="4" cols="50"></textarea
      ><br /><br />
      <input type="button" value="submit" />
    </form>
    <%- include('partials/footer') %>
  </body>
</html>
