<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment1</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <style>
      div {
        text-align: center;
        vertical-align: middle;
      }

      form {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <div>
        <form method="get" action="/">
          <h2>Leave a message to Suha!</h2>
          <label for="firstname">First name</label><br />
          <input type="text" id="firstname" name="firstname" /><br /><br />
          <label for="lastname">Last name</label><br />
          <input type="text" id="lastname" name="lastname" /><br /><br />
          <label for="contactnumber">Contact Number</label><br />
          <input type="number" id="contactnumber"" name="contactnumber"" /><br /><br />
          <label for="email">Email address</label><br />
          <input type="email" id="email"" name="email"" /><br /><br />
          <label for="message">Message</label><br />
          <textarea id="message" name="message" rows="4" cols="50"></textarea
          ><br /><br />
          <input type="submit" value="submit" />
        </form>
      </div>
      <div>
        <h2>Contact Point📱</h2>
        Suha Park<br />
        email : parksuha94@gmail.com <br />Phone : 416-844-4696
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
