<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment1</title>
    <link rel="stylesheet" href="public/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Welcome to Suha's web page &#128515;<br /></h1>

    <img class="main" src="public/images/main.jpg" alt="main" width="100%" />
    <h1>Cherish every momen of your life!&#10024;</h1>
    <br />
    <br />

    <%- include('partials/footer') %>
  </body>
</html>
