<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment1</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <img class="main" src="../public/images/main.jpg" alt="main" width="80%" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>Welcome,<br /></h1>
    <br />
    <br />

    <h1>
      Cherish every moment
      <br />
      of your life!
    </h1>

    <%- include('partials/footer') %>
  </body>
</html>
