<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment1</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <style>
      img:hover {
        opacity: 0.5;
      }
      div {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Individual Project</h1>
    <div class="grid_container">
      <div class="grid_item">
        <img src="../public/images/realtor.jpeg" alt="" width="60%" />
        <p>Realtor's homepage</p>
      </div>
      <div class="grid_item">
        <img src="../public/images/The ordinary.jpeg" alt="" width="55%" />
        <p>The ordinary</p>
      </div>
      <div class="grid_item">
        <img src="../public/images/bug.jpeg" alt="" width="77%" />
        <p>Bug Smasher</p>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
