<p>
  Hello!<br /><br />
  I am a dedicated software engineering student at Centennial College,<br />
  currently on the path to becoming a client-centered front-end developer.<br />
  With a passion for creating exceptional user experiences and a future-oriented
  mindset,<br />
  I am excited to embark on a career in the IT industry. In addition to my
  academic pursuits,<br />I bring four years of valuable experience in global
  sales. <br /><br />This background has provided me with strong communication
  and interpersonal skills,<br />
  enabling me to effectively understand and meet client needs. <br />I am
  confident in my ability to apply these skills to the dynamic world of
  technology,<br />
  ensuring that user requirements are at the forefront of my development
  process.<br /><br />

  I would be delighted to connect and explore how my skills can contribute to
  your organization's success.<br />
  Let's collaborate to create remarkable user experiences and drive technology
  forward.<br /><br /><br />

  <a href="../../public/Resume_SuhaPark.pdf">View Resume</a>
</p>
