<link rel="stylesheet" href="../../public/stylesheets/style.css" />
<nav>
  <ul>
    <a href="/"
      ><img src="../public/images/logo.jpeg" alt="logo" width="80" height="25"
    /></a>
    <li><a href="/">Home</a></li>
    <li><a href="/aboutme">About me</a></li>
    <li><a href="/project">Project</a></li>
    <li><a href="/service">Service</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
<hr />
